.bodyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 1084px;
    height: 175px;
    position: absolute;
    top: 49px;
    left: 265px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.Headertitle {
    display: flex;
    background: transparent;
    width: 268px;
    height: 33px;
    position: absolute;
    top: 19px;
    left: 40px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}
.labelHeaderTitle {
    font-size: 25px;
    font-family: 'Poppins,Roboto,"Noto Sans Hebrew"' , sans-serif;
    color: rgb(50, 51, 56);
    margin-left: 3px;
    margin-top: 0px;
    align-items: center;
    font-weight: bold;
    padding-top: 2px;
}
.chevron-downimg {
    width: 20px;
    height: 20px;
    padding-left: 5px;
    padding-top: 5px;

}
.Headertitle:hover {
    background-color: rgb(236, 237, 237);
    border-radius: 5px;
}
.buttonHeaderOptions {
    background-image: url("icon/3points2.png");
    background-color: transparent;
    display: flex;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    width: 35px;
    height: 35px;
    top: 19px;
    left: 1020px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
}
.buttonHeaderOptions:hover {
    background-color: rgb(236, 237, 237);
}
#HeaderSubTitle {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 148px;
    height: 33px;
    position: absolute;
    top: 58px;
    left: 40px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center; 
    cursor: pointer;   
    transition: justify-content 0.5s ease;
    transform: translateX(0); /* Posición inicial para el movimiento */
    overflow: hidden;
}
.home2img {
    width: 15px;
    height: 15px;
    padding-right: 5px;
    transition: transform 0.5s ease; /* Animación suave */

}
.labelHeaderSubTitle {
    font-size: 14px;
    font-family: 'Figtree', sans-serif;
    color: rgb(50, 51, 56);
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;  
    cursor: pointer;  
    transition: transform 0.5s ease; /* Animación suave */
}
.buttonHeaderOptions {
    display: none;
    background-image: url("icon/3points2.png");
    width: 15px;
    height: 15px;
    top: 10px;
    left: 112px;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

}
.textActive {
    .labelHeaderSubTitle {
        color: rgb(63, 202, 117);
    }
}
#HeaderSubTitle:hover .home2img,
#HeaderSubTitle:hover .labelHeaderSubTitle  {
    transform: translateX(-20px); /* Movimiento del contenido interno hacia la izquierda */
}
#HeaderSubTitle:hover {
    background-color: rgb(236, 237, 237);
}
#HeaderSubTitle:hover .buttonHeaderOptions {
    display: block;
}
.buttonAdd {
    background: transparent;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
    top: 62px;
    left: 190px;
    position: absolute;
}
.addimg {
    width: 11px;
    height: 11px;
    background-repeat: none;
}
.buttonAdd:hover {
    background-color: rgb(236, 237, 237);
    border-radius: 5px;
}